/* Breakpoints */
$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min - 1;
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min - 1;
$screen-lg-min: 1250px;
$screen-md-max: $screen-lg-min - 1;
$screen-xl-min: 1500px;
$screen-lg-max: $screen-xl-min - 1;

/* Spacing */
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-rg: 20px;
$spacing-lg: 30px;
$spacing-xl: 50px;

/* Layout */
$min-page-width: 320px;
$max-page-width: 1900px;
$width-main: 1000px;
$width-post: 850px;
$gutter: 5%;
$max-width: 90%;

/* Colors */
$color-white: #ffffff;
$color-offwhite: #e5e5e5;
$color-grey-light: #f2f2f2;
$color-grey: #777777;
$color-grey-dark: #333333;
$color-primary: #00bdff;

/* Font */
$font-family-primary: "Roboto", Helvetica, Arial, sans-serif;
$font-regular: 400;
$font-bold: 700;